# **\---------------------------------------------------------**

# **MAC OS ARTIFACTS**

# **\---------------------------------------------------------**

.DS\_Store  
.AppleDouble  
.LSOverride

# **\---------------------------------------------------------**

# **ANSIBLE SPECIFIC**

# **\---------------------------------------------------------**

\*.retry  
\*.log

# **\---------------------------------------------------------**

# **THE COGNITIVE KEYS (ABSOLUTE PRIORITY)**

# **\---------------------------------------------------------**

group\_vars/secrets.yml

# **Also ignore any backup files your text editor might make**

\*\~  
\*.swp
