[defaults]
inventory = inventory.ini
local_tmp = /tmp/ansible-local
retry_files_enabled = False
collections_path = .ansible/collections:/usr/share/ansible/collections

[ssh_connection]
control_path_dir = /tmp/ansible-cp
pipelining = True

[galaxy]
cache_dir = /tmp/ansible-galaxy-cache
